body{
    background-color: #1f1f1f;
    color: #bfbfbf;
    height: 2000px;
}

.box{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.blueBox{
    background-color: #80aaf5;
    position: relative;
    top: 10px;    
}

.greenBox{
    background-color: #9dc575;  
}

.container{
    background-color: rgba(0,0,0,.4);   
    height: 200px;
    width: 200px;
    position: relative;
}